<!-- ******FEATURES****** -->
<section id="about" class="contact section" style="padding-left:10%">


    <div class="container">
    <h2 class="title"><span class="glyphicon glyphicon-user"></span> About</h2>
    oZone Networks is a stealth startup, based in Maryland USA &amp; Bristol UK. We have over 15+ years experience in video based solutions and embedded development. We've built various successful video analysis solutions in the past, including ZoneMinder, which is one of the most popular open source CCTV solutions in the market today.
    </div>
    

</section>
<!--//features-->
