<!-- ******FEATURES****** -->
<section id="features" class="features section" style="text-align:center">


    <h2 class="title">Do these excite you?</h2>
    <ul class="feature-list list-unstyled">
        <li><i class="fa fa-check"></i>Own your data. Period.</li>
        <li><i class="fa fa-check"></i>Use any camera you want. Yes, even those $20 ones. Or those $600 ones</li>
        <li><i class="fa fa-check"></i>Start with just a raspberry pi. Scale to 100s or 1000s of cameras</li>
        <li><i class="fa fa-check"></i>Define points of interest - only get notified when those trigger motion</li>
        <li><i class="fa fa-check"></i>Connect any home appliance or sensor. We really mean any.</li>
        <li><i class="fa fa-check"></i>Have the best mobile app for all of this in your hands when on the go</li>
        <li><i class="fa fa-check"></i>And have all the world-class features you'd expect </li>
    </ul>
    

</section>
<!--//features-->
