<!-- ******FEATURES****** -->
<section id="innovations" class="about section" style="padding-left:10%">


    <div class="container">
    <h2 class="title">oZone brings in useful innovations to ZoneMinder</h2>
    <h3>Such As:</h3>
    <ul class="feature-list list-unstyled">
        <li><i class="fa fa-check"></i><a href="http://pliablepixels.github.io">zmNinja</a>, the rockstar multi-platform ZoneMinder app. No other home security app is as cool as this one.</li>
        <li><i class="fa fa-check"></i>Alexa integration <a href="http://pliablepixels.github.io/2016/04/19/ozone-alexa.html">(sneak preview)</a></li>
        <li><i class="fa fa-check"></i>ZoneMinder as a library for 3rd party innovation (work in progress)</li>
        <li><i class="fa fa-check"></i>Simplified UI that you can relate to (work in progress)</li>
        <li><i class="fa fa-check"></i><a href="https://github.com/pliablepixels/zmeventserver">Real-time event server</a> with web-sockets - build your own event processor! (already in production!)</li>
        <li><i class="fa fa-check"></i>Presence aware (work in progress, <a href="https://forums.zoneminder.com/viewtopic.php?f=9&t=23026">exists in part</a>)</li>
        <li><i class="fa fa-check"></i>And hopefully many more to come!</li>
    </ul>
    <br/>
    <br/>
    <br/>
    <h2 class="title">How do these innovations help ZoneMinder?</h2>
    <ul class="feature-list list-unstyled">
        <li><i class="fa fa-check"></i>More adoption and awareness of ZoneMinder. Making it simpler and easier can't hurt?</li>
        <li><i class="fa fa-check"></i>Almost everything oZone will work on will also be under GPL, especially those features that build on top of ZoneMinder. If these innocations make sense for ZoneMinder, they will be merged!</li>
    </ul>
</div>
    

</section>
<!--//features-->
