<section id="innovations" class="about section" style="padding-left:10%">
    <div class="container">
    <h2 class="title">A beautifully designed framework that makes it easy to connect analytics and actions to video/image feeds

            <h3>Industry Verticals:</h3>

  <ul>
         <li>Retail inventory analysis </li>
         <li>Smart traffic cameras</li>
         <li>Enteprise IoT device monitoring</li>
         <li>Corporate and home security & surveillance</li>

    </ul>
    <h3>Key Aspects:</h3>
    <ul>
        <li>Simple. Build in days or weeks. Not months or years</li>
        <li>Three layers of abstraction: </li>
        <ul>
                <li>Core <strong>C++</strong> layer for embedded systems</li>
                <li><strong>Javascript</strong> adaptation for NodeJS and browsers</li>
                <li>Full featured <strong>React</strong> based UI for NVR/CCTV/surveillance</li>
        </ul>
        <li>Multiple built-in people/feature/shape detection mechanisms</li>
        <li>Plug-in your favorite 3rd party libraries easily (license plate analysis, drone detection)</li>
        <li>Built in notification for alarms/events, video recording and storage</li>
        <li>Our secret sauce is our architecture. Have a cool idea? Write a component, plug it into our system</li>
    </ul>
<!--
    <h3>We really do mean simple:</h3>
    <h4>What if connecting to RTSP cameras were as simple as:</h4>

<pre><code class="language-clike">
  Application app;

  // Two RTSP sources 
  NetworkAVInput cam1( "cam1", "rtsp://170.93.143.139:1935/rtplive/0b01b57900060075004d823633235daa" );
  NetworkAVInput cam2("cam2","rtsp://170.93.143.139:1935/rtplive/e0ffa81e00a200ab0050fa36c4235c0a");
  app.addThread( &cam1 );
  app.addThread( &cam2 );
</code></pre>


<h4>And doing Face detection on them was as simple as:</h4>
<pre><code class="language-clike">
    // Detect faces for cam1
    FaceDetector faceDetector1( "modectcam1" );
    faceDetector1.registerProvider( cam1 );
    app.addThread( &faceDetector1 );

    // Detect any motion for cam2
    MotionDetector motionDetector2( "modectcam2" );
    motionDetector2.registerProvider( cam2 );
    app.addThread( &motionDetector2 );
</code></pre>

<h4>And stitching arbirary streams together for a montage was as easy as:</h4>
<pre><code class="language-clike">
// Let's make a mux/stitched handler for cam1 and cam2 and its debugs
    MatrixVideo matrixVideo( "quadcammux", PIX_FMT_YUV420P, 640, 480, FrameRate( 1, 10 ), 2, 2 );
    matrixVideo.registerProvider( cam1 );
    matrixVideo.registerProvider( *faceDetector1.deltaImageSlave() );
    matrixVideo.registerProvider( cam2 );
    matrixVideo.registerProvider( *motionDetector2.deltaImageSlave() );
    app.addThread( &matrixVideo );

</code></pre>

<h3>We really do mean powerful:</h3>
Take a look at our <a href="http://ozone-framework.readthedocs.io/en/latest/architecture/index.html">architecture</a>.

<h2>Looks interesting?</h2>
<br/>
How about taking a look at how to write an NVR from scratch? Go <a href="https://github.com/ozonesecurity/ozonebase/tree/master/server/src/examples/nvrcli">here</a>, get started, get coding. Let oZone do the heavy lifting for you.
</section>
<section id="innovationsmobile" class="features section" style="padding-left:10%">
    <div class="container">
            <h2 class="title" style="color:white">oZone Mobile is a high speed cross platform mobile solution</h2>
    <h3 style="color:white">Key features:</h3>
    <ul>
        <li>Super fast, and full featured</li>
        <li>Works on iOS, Android and Desktops as well (Linux, Windows, Mac, ARM)</li>
        <li>White-label it for your needs</li>
        <li>Already has built in adaptation layer for ZoneMinder NVR</li>
    </ul>
    
    <h3 style="color:white">Demo:</h3>
    see it in <a style="color:white" href="https://www.youtube.com/watch?v=Hjsz-EoLiwU">youtube</a>
    <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Hjsz-EoLiwU" frameborder="0" allowfullscreen></iframe>
    </div>
    -->
</section>

