<!-- ******FEATURES****** -->
<section id="partner" class="about section" style="padding-left:10%">


    <div class="container">
    <h2 class="title">Are you an OEM or ISV looking to get a headstart?</h2>
Our software stack is awesome - its been around for many years and industry hardened. Have you considered using ZoneMinder for your backend network and zmNinja as your mobile and desktop app and white-labeling them?
It will save you a lot of money (imagine a team of engineers trying to develop the same thing over years and then more years to stabilize). 

Sounds interesting? <a href="mailto:hey@ozone.network">Contact us!</a>

    </div>
    

</section>
<!--//features-->
